@model Infrastructure.Persistence.Models.cliente
@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-danger text-white">
        <h6 class="m-0 font-weight-bold">Eliminar Cliente</h6>
    </div>
    <div class="card-body">
        <p>¿Seguro que deseas eliminar este registro?</p>

        <dl class="row">
            <dt class="col-sm-3 mb-2">id</dt>
            <dd class="col-sm-9 mb-2">@Model.id</dd>
            <dt class="col-sm-3 mb-2">rut</dt>
            <dd class="col-sm-9 mb-2">@Model.rut</dd>
            <dt class="col-sm-3 mb-2">nombre</dt>
            <dd class="col-sm-9 mb-2">@Model.nombre</dd>
            <dt class="col-sm-3 mb-2">correo</dt>
            <dd class="col-sm-9 mb-2">@Model.correo</dd>
        </dl>

        <form asp-action="Delete" asp-route-id="@Model.id" method="post">
            <div class="d-flex justify-content-between flex-wrap">
                <button class="btn btn-danger me-2 mb-2" type="submit">Eliminar</button>
                <a class="btn btn-secondary mb-2" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>