@model Infrastructure.Persistence.Models.cliente
@{
    ViewData["Title"] = "Detalles Cliente";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalles Cliente</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 mb-2">id</dt>
            <dd class="col-sm-9 mb-2">@Model.id</dd>
            <dt class="col-sm-3 mb-2">rut</dt>
            <dd class="col-sm-9 mb-2">@Model.rut</dd>
            <dt class="col-sm-3 mb-2">nombre</dt>
            <dd class="col-sm-9 mb-2">@Model.nombre</dd>
            <dt class="col-sm-3 mb-2">correo</dt>
            <dd class="col-sm-9 mb-2">@Model.correo</dd>
            <dt class="col-sm-3 mb-2">telefono</dt>
            <dd class="col-sm-9 mb-2">@Model.telefono</dd>
            <dt class="col-sm-3 mb-2">direccion</dt>
            <dd class="col-sm-9 mb-2">@Model.direccion</dd>
            <dt class="col-sm-3 mb-2">comuna_id</dt>
            <dd class="col-sm-9 mb-2">@Model.comuna_id</dd>
        </dl>

        <div class="form-group d-flex justify-content-between flex-wrap">
            <a class="btn btn-warning me-2 mb-2" asp-action="Edit" asp-route-id="@Model.id">Editar</a>
            <a class="btn btn-secondary mb-2" asp-action="Index">Volver</a>
        </div>
    </div>
</div>